
services:
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: webapp123
      POSTGRES_DB: webappdb
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    
volumes:
  postgres_data: